<!-- <#% binding.pry %> -->
<h5>Rails model-backed form helpers</h5>


<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %>
  <br>
  <% if action == 'edit' %>
    <% str = 'Update Post' %>
  <% else %>
    <% str = 'Submit Post' %>
  <% end %>
  <%= f.submit str, class: 'btn btn-primary' %>
<% end %>
