<p>
  <!-- What is happening here: render looks at @post.categories and
  automatically look for a file called: /views/categories/_category.html.erb
  Rails then iterates across categories array-like-object and renders
  the _category.html.erb file.
  This line of code is the same as:

    <% @post.categories.each do |category| %>
      <%= render '/categories/category', category: category %> # Note this is creating a local variable (available to _category.html.erb) and setting it to the category local variable belonging to the iteration block.
    <% end %> -->
  <%= render @post.categories %>
</p>

<%= render '/shared/content_title', title: @post.title %>
<div class='quiet'>
  <% user_id = @post.user.id %>
  posted by
  <%= link_to @post.user.username, user_path(@post.user) %>

</div>
<br><BR>

<p>
  <%= @post.description %>
  <hr/>
</p>


<%= render '/shared/error', obj: @comment %>

<%  %>

<% if logged_in? %>
  <h5>Leave a comment</h5>
  <p>
    <%= form_for [@post,@comment] do |f| %>
      <%= f.text_area :body  %>
      <br>
      <%= f.submit 'Submit comment' %>
    <% end %>
  </p>
<% end %>

<h3>Comments</h3>
<% comments = @post.comments.sort_by do |comment| %>
  <% total_votes = comment.votes.reduce(0) do |m,vote| %>
    <% if vote.vote %>
      <% m + 1 %>
    <% else %>
      <% m - 1 %>
    <% end %>
  <% end %>
<% end %>
<%  %>

<% if comments.length != 0 %>
  <% comments.reverse.each do |comment| %>
    <div class='row'>
      <div class='span0 well text-center'>
        <% if logged_in? %>
          <%= link_to up_vote_comment_path(comment), remote: true do %>
            <span class='icon-arrow-up'></span>
          <% end %>
        <% end %>

        <br>
        <% up_votes = comment.votes.select{|x| x.vote == true}.count %>
        <% down_votes = comment.votes.select{|x| x.vote != true}.count %>
        <!-- TODO: net votes not displaying correctly -->
        <% net_votes = up_votes - down_votes %>
        <% binding.pry %>
        <span id='comment_<%= comment.id %>'>
          <%= pluralize(net_votes,'vote') %>
        </span>
        <br>

        <% if logged_in? %>
          <%= link_to down_vote_comment_path(comment), remote:true do %>
            <span class='icon-arrow-down'></span>
          <% end %>
        <% end %>
      </div>

      <div class = 'well span8'>
        <h5><%= comment.user.username %> says at <%= display_datetime(@post.created_at) %>:</h5>
        <%= comment.body %>
      </div>
    </div>
  <% end %>
<% end %>
<br><br>
