<p>
  <!-- What is happening here: render looks at @post.categories and
  automatically look for a file called: /views/categories/_category.html.erb
  Rails then iterates across categories array-like-object and renders
  the _category.html.erb file.
  This line of code is the same as:

    <% @post.categories.each do |category| %>
      <%= render '/categories/category', category: category %> # Note this is creating a local variable (available to _category.html.erb) and setting it to the category local variable belonging to the iteration block.
    <% end %> -->
  <%= render @post.categories %>
</p>

<%= render '/shared/content_title', title: @post.title %>
<div class='quiet'>
  <% user_id = @post.user.id %>
  posted by
  <%= link_to @post.user.username, user_path(@post.user) %>

</div>
<br><BR>

<p>
  <%= @post.description %>
  <hr/>
</p>


<%= render '/shared/error', obj: @comment %>

<% if logged_in? %>
  <h5>Leave a comment</h5>
  <p>
    <%= form_for [@post,@comment] do |f| %>
      <%= f.text_area :body  %>
      <br>
      <%= f.submit 'Submit comment' %>
    <% end %>
  </p>
<% end %>

<h3>Comments</h3>

<% if @post.comments.length != 0 %>
  <% @post.comments.each do |comment| %>
    <div class = 'well span8'>
      <h5><%= comment.user.username %> says at <%= display_datetime(@post.created_at) %>:</h5>
      <%= comment.body %>
    </div>
  <% end %>
<% end %>
<br><br>
