<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>

  <div class='btn-group nav_item'>
    <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      Categories <span class='caret'></span>
    <% end %>
      <ul class = 'dropdown-menu'>
        <% Category.all.each do |cat| %>
          <li>
            <%= link_to cat.name, category_path(cat) %>
          </li>
        <% end %>
        <li class = 'divider'></li>
        <li>
            <%= link_to(new_category_path) do %>
              <i class='icon-plus'></i>
              New Category
            <% end %>
        </li>
      </ul>
  </div>

  <% if logged_in? %>
    <li>
      <%= link_to 'New Category', new_category_path %>
    </li>
    <li>
      <%= link_to 'New Post', new_post_path %>
    </li>
  <% end %>

  <% if !logged_in? %>
    <li>
      <%= link_to 'Register', register_path %>
    </li>
    <li>
      <%= link_to 'Log in', login_path %>
    </li>
  <% end %>

  <% if logged_in? %>
    <div class='btn-group nav-item'>
      <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      <%= current_user.username %> <span class='caret'></span>
      <% end %>
      <ul class = 'dropdown-menu'>
        <li>
          <%= link_to 'View Profile', user_path(current_user) %>
        </li>
        <li>
          <%= link_to 'Edit Profile', edit_user_path(current_user) %>
        </li>
        <li>
          <%= link_to 'Logout', logout_path, confirm: "Are you sure you want to logout?" %>
        </li>
      </ul>
    </div>
  <% end %>



</ul>
